@model IEnumerable<BookingForm.Models.Block>
@{
    Layout = "/Views/Reservations/DumbLayout.cshtml";
}
<table class="table">
    <thead>
        
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <div class="block @item.Name">
                <h3 class="block-name">Tòa: @item.Name</h3>
                @foreach (var floor in item.Floors)
                {
                    <div class="floor-container"><h4 class="floor-name">Tầng: @floor.Name</h4>
                        @foreach (var room in floor.Apartments)
                        {
                            var type = room.ApartmentDetails.ApartmentType.Replace("+", "P");
                            type = type.Replace("1", "O");
                            type = type.Replace("2", "W");
                            type = type.Replace("3", "H");
                            <div class="room-container">
                                <div class="room @type">
                                    @if (room.IsCorner)
                                    {
                                        <p class="corner">Căn góc</p>
                                    }
                                    <a asp-action="Create" asp-route-apartmentCode="@room.LocalCode">@room.LocalCode</a>
                                    @if (room.GlobalCode == "Sold")
                                    {
                                        <p class="sold">(Đã bán)</p>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </tbody>
</table>
<style>
    .corner {
        color: Red;
        margin: 0 0 0 0;
    }
    .sold {
        margin: 0 0 0 0;
        font-style: italic;
    }
    .room-container {
        display: inline-block;
        float: left;
        border: 1px solid black;
        background-color: yellow;
    }
    .floor-container {
        overflow: auto; 
        border: 1px solid black;
        background-color: #f7f7f7;
    }
    ul, li {
        list-style: none;
        margin: 0 0 0 0 !important;
        padding: 0 0 0 0 !important;
    }
    .room {
        margin: 3px 3px 3px 3px;
    }
    .room>a {
        color: black !important;
    }
    .room>a:hover {
        <!-- text-decoration: none; -->
    }
    .OBRP {
        background-color: rgb(243, 135, 184);
    }
    .STU {
        background-color: rgb(224, 201, 227);
    }
    .WBR {
        background-color: rgb(175, 140, 136);
    }
    .WBRP {
        background-color: rgb(109, 207, 246)
    }
    .HBR {
        background-color: rgb(254, 242, 0);
    }
    .block {
        padding: 0 15px 15px 15px;
    }
</style>
