@model IEnumerable<BookingForm.Models.Apartment>
@{
    ViewData["title"] = "Sản phẩm";
    Layout = "~/Views/Catalogs/DumbLayout.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocalCode)
            </th>
            <th>
                Tầng
            </th>    
            <th>
                Loại căn
            </th>    
            <th>
                Vị trí/Thông tin căn hộ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentDetails.ApartmentType)
            </td>
            <td>
                <p>-Khối: @Html.DisplayFor(modelItem => item.Block) / Căn số: @Html.DisplayFor(modelItem => item.GlobalCode)</p>
                <p>-PN: @Html.DisplayFor(modelItem => item.NOBedroom) / WC: @Html.DisplayFor(modelItem => item.NOWC) / View: @Html.DisplayFor(modelItem => item.View) / Hướng: @Html.DisplayFor(modelItem => item.Direction) / Diện tích: @Html.DisplayFor(modelItem => item.Area)</p>
                @if(item.IsCorner)
                {
                    <p>(Căn góc)</p>
                    
                }
            </td>
            <td>
                <a asp-action="Detail" asp-route-code="@item.LocalCode">Đặt chỗ</a>
            </td>
        </tr>
}
    </tbody>
</table>
