@model IEnumerable<BookingForm.Models.Apartment>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlobalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOBedroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOWC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Block)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.View)
            </th>

            <th>Ảnh</th>
            <th>@Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GlobalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOBedroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOWC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Block)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.View)
            </td>

            <td>
                @if (item.ApartmentDetails != null)
                {
                    <a asp-action="Details" asp-route-id="@item.ApartmentDetails.Id">Ảnh minh họa</a>
                    
                }
            </td>
            <td>
                <a asp-action="Sample" asp-route-str="@item.Location">Xem</a>
            </td>
            <td>
                <a asp-action="Detail" asp-route-id="@item.Id">Chi tiết</a>
            </td>
        </tr>
}
    </tbody>
</table>
