@model BookingForm.Models.Apartment
@{
    ViewData["title"] = "Chi tiết sản phẩm";
    Layout = "~/Views/Catalogs/DumbLayout.cshtml";
}

<partial name="StatusMessage" model="@ViewBag.msg" />
<h1>Thông tin sản phẩm</h1>
</hr>
<div class="form-group">
  <label for="">
      Tên sản phẩm :
  </label>
  <p>@Model.Name</p>
</div>
<div class="form-group">
  <label for="">
      @Html.DisplayNameFor(model => model.NOBedroom) :
  </label>
  <p>@Model.NOBedroom</p>
</div>
<div class="form-group">
  <label for="">
      @Html.DisplayNameFor(model => model.NOWC) :
  </label>
  <p>@Model.NOWC</p>
</div>

<div class="form-group">
  <label for="">
      @Html.DisplayNameFor(model => model.Floor) :
  </label>
  <p>@Model.Floor</p>
</div>
<div class="form-group">
  <label for="">
      @Html.DisplayNameFor(model => model.Direction) :
  </label>
  <p>@Model.Direction</p>
</div>
<div class="form-group">
  <label for="">
      @Html.DisplayNameFor(model => model.Area) :
  </label>
  <p>@Model.Area</p>
</div>

<div class="form-group">
  <label for="">
      @Html.DisplayNameFor(model => model.Block) :
  </label>
  <p>@Model.Block</p>
</div>
<div class="form-group">
  <label for="">
      Giá :
  </label>
  <p>@Model.Price</p>
</div>

<div class="form-group">
  <label for="">
      @Html.DisplayNameFor(model => model.LocalCode) :
  </label>
  <p>@Model.LocalCode</p>
</div>
<div class="form-group">
  <label for="">
      @Html.DisplayNameFor(model => model.GlobalCode) :
  </label>
  <p>@Model.GlobalCode</p>
</div>
<div class="hideable">
  <input type="button" class="btn btn-default" value="Đặt mua" onclick="location.href='@Url.Action("Proceed", "Catalogs", new {code = @Model.LocalCode})'" />
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $('#btn').on('click', function() {
      swal({
      title: "Bạn có chắc chắn chọn mua căn này?",
      text: "Mỗi mã chỉ được sử dụng một lần. Quý khách sẽ không được thay đổi căn sau khi đã chọn!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
    .then((willBuy) => {
      if (willBuy) {
        swal("Hệ thống đã nhận được yêu cầu của bạn, đang tiến hành xử lý!", {
          icon: "success",
        });
        $('#form').submit();
      } else {
        
      }
    });
    });
</script>