@model IEnumerable<BookingForm.Models.Section>
@{
    Layout = "~/Views/Catalogs/DumbLayout.cshtml";
    ViewData["title"] = "Sản phẩm";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blocks)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                <a asp-action="Sample" asp-route-str="@item.ImagePath">Xem</a>
            </td>
            <td>
                <a asp-action="Sample" asp-route-str="@item.Location">Xem</a>
            </td>
            <td>
                @if (item.Blocks != null && item.Blocks.Count > 0)
                {
                    <a asp-action="GetBlocks" asp-route-id="@item.Id">Danh sách khối</a>                
                    
                }
            </td>
        </tr>
}
    </tbody>
</table>
