@model BookingForm.Models.Apartment

</hr>
<h4>Thông tin căn hộ đã đặt mua</h4>
<div class="form-group">
  <label for="">
      Mã xác nhận
  </label>
  <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" value="@ViewBag.cc" readonly>
</div>
<div class="form-group">
  <label for="">
      @Html.DisplayNameFor(model => model.LocalCode)
  </label>
  <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" value="@Model.LocalCode" readonly>
</div>
<div class="form-group">
  <label for="">
      @Html.DisplayNameFor(model => model.GlobalCode)
  </label>
  <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" value="@Model.GlobalCode" readonly>
</div>
<div class="form-group">
  <label for="">
      @Html.DisplayNameFor(model => model.Floor)
  </label>
  <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" value="@Model.Floor" readonly>
</div>
<div class="form-group">
  <label for="">
      @Html.DisplayNameFor(model => model.Direction)
  </label>
  <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" value="@Model.Direction" readonly>
</div>
<div class="form-group">
  <label for="">
      @Html.DisplayNameFor(model => model.Area)
  </label>
  <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" value="@Model.Area" readonly>
</div>
<div class="form-group">
  <label for="">
      @Html.DisplayNameFor(model => model.NOBedroom)
  </label>
  <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" value="@Model.NOBedroom" readonly>
</div>
<div class="form-group">
  <label for="">
      @Html.DisplayNameFor(model => model.NOWC)
  </label>
  <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" value="@Model.NOWC" readonly>
</div>
<div class="form-group">
  <label for="">
      @Html.DisplayNameFor(model => model.Name)
  </label>
  <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" value="@Model.Name" readonly>
</div>
<div class="form-group">
  <label for="">
      @Html.DisplayNameFor(model => model.Block)
  </label>
  <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" value="@Model.Block" readonly>
</div>
<div class="form-group">
  <label for="">
      @Html.DisplayNameFor(model => model.Price)
  </label>
  <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId" value="@Model.Price" readonly>
</div>