@model IEnumerable<BookingForm.Models.ConfirmationViewModel>
@{
    Layout = "~/Views/Confirmations/DumbLayout.cshtml";
}
<div class="container-fluid">
    <h2>3BR</h2>
    <ul>

    @foreach (var item in Model)
    {
        if (item.Apartment.ApartmentDetails.ApartmentType == "3BR")
        {
            <li>
                <a asp-action="Client" value="" asp-route-id="@item.Client.Id" >@item.Client.FullName</a> / <a asp-action="Apartment" asp-route-code="@item.Apartment.LocalCode" value=""> @item.Apartment.LocalCode</a> / <a asp-action="Reservation" value="">@item.Confirm.RCC</a>
            </li>
        }
    }
    
    </ul>
    <h2>2BR+</h2>
    <ul>

    @foreach (var item in Model)
    {
        if (item.Apartment.ApartmentDetails.ApartmentType == "2BR+")
        {
            <li>
                <a asp-action="Client" value="" asp-route-id="@item.Client.Id" >@item.Client.FullName</a> / <a asp-action="Apartment" asp-route-code="@item.Apartment.LocalCode" value=""> @item.Apartment.LocalCode</a> / <a asp-action="Reservation" value="">@item.Confirm.RCC</a>
            </li>
        }
    }
    
    </ul>
    <h2>2BR</h2>
    <ul>

    @foreach (var item in Model)
    {
        if (item.Apartment.ApartmentDetails.ApartmentType == "2BR")
        {
            <li>
                <a asp-action="Client" value="" asp-route-id="@item.Client.Id" >@item.Client.FullName</a> / <a asp-action="Apartment" asp-route-code="@item.Apartment.LocalCode" value=""> @item.Apartment.LocalCode</a> / <a asp-action="Reservation" value="">@item.Confirm.RCC</a>
            </li>
        }
    }
    
    </ul>
    <h2>1BR+</h2>
    <ul>

    @foreach (var item in Model)
    {
        if (item.Apartment.ApartmentDetails.ApartmentType == "1BR+")
        {
            <li>
                <a asp-action="Client" value="" asp-route-id="@item.Client.Id" >@item.Client.FullName</a> / <a asp-action="Apartment" asp-route-code="@item.Apartment.LocalCode" value=""> @item.Apartment.LocalCode</a> / <a asp-action="Reservation" value="">@item.Confirm.RCC</a>
            </li>
        }
    }
    
    </ul>
    <h2>Studio</h2>
    <ul>

    @foreach (var item in Model)
    {
        if (item.Apartment.ApartmentDetails.ApartmentType == "STU")
        {
            <li>
                <a asp-action="Client" value="" asp-route-id="@item.Client.Id" >@item.Client.FullName</a> / <a asp-action="Apartment" asp-route-code="@item.Apartment.LocalCode" value=""> @item.Apartment.LocalCode</a> / <a asp-action="Reservation" value="">@item.Confirm.RCC</a>
            </li>
        }
    }
    
    </ul>
</div>